.footer {
  height: 60px;
  background: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  padding: 0;
  margin: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}